# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
/tests/
/tests_pool/
/bp/bp
/users/
/webBP/.idea/*
/webBP/__pycache__/
/webBP/managers/__pycache__/
/webBP/models/__pycache__/
/webBP/controllers/__pycache__/
/webBP/views/bootstrap/
/ca/
/webBP/views/index.css
/webBP/views/index.html
/bp/.qmake.stash
/bp/nohup.out
/bp/service.pid
/webBP/nohup.out
/webBP/server.pid
/webBP/nist_statistics/__pycache__/
/webBP/*__pycache__*
