<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include_head.html' %}
    <title>{{ charts }}</title>
</head>
<body>
{% include 'header.html'%}
<div class="container">
    <div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-xs-12 col-md-4 col-lg-3">
            {{ p_values_chart }}
        </div>
        <div class="col-xs-12 col-md-4 col-lg-3">
            {{ barplot }}
        </div>
        <div class="col-lg-3"></div>
    </div>
    {% for test in vars['tests'] %}
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-xs-12 col-md-4 col-lg-3">
                <a href="/charts/base?test_id={{ test.id }}"> Test with id: {{ test.id}}</a>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3">
                <a href="/charts/barplot?test_id={{ test.id }}"> Test with id: {{ test.id}}</a>
            </div>
            <div class="col-lg-3"></div>
        </div>
     {% endfor %}
   </div>
</div>
</body>
</html>