<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include_head.html' %}
    <title>{{ create_tests }}</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="my-warning">
        {% if 'format' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3> {{ error_in }} {{ vars['queries']['t'] }}. {{ test_little }}. {{ wrong_format }}</h3>
            </div>
        {% endif %}

        {% if 'l' in vars['queries'] and 't' in vars['queries'] %}
            {% if vars['queries']['l'] is equalto '1' %}
                <div class="alert alert-danger">
                    <h3>{{ length_error }}</h3>
                </div>
            {% endif %}

            {% if vars['queries']['l'] is equalto '2' %}
                <div class="alert alert-danger">
                    <h3>{{ test }} {{ vars['queries']['t'] }}. {{ length_must_be_filled }}</h3>
                </div>
            {% endif %}


            {% if vars['queries']['l'] is equalto '3' %}
                <div class="alert alert-danger">
                    <h3>{{ test }} {{ vars['queries']['t'] }}. {{ length_range }}</h3>
                </div>
            {% endif %}
        {% endif %}

        {% if 's' in vars['queries'] and 't' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3>{{ error_in }} {{ vars['queries']['t'] }}. {{ test_little }}. {{ streams_error }}</h3>
            </div>
        {% endif %}

        {% if 'p' in vars['queries'] and 't' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3>
                    {{ error_in }}
                    {% if vars['queries']['t'] == 2 %}
                        {{ block_frequency }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 8 %}
                        {{ nonperiodic }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 9 %}
                        {{ overlapping }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 11 %}
                        {{ approximate_entropy }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 14 %}
                        {{ serial }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 15 %}
                        {{ linear_complex }}.
                    {% endif %} {{ param_error }}
                </h3>
            </div>
        {% endif %}

        {% if 'f' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3>{{ no_file_selected }}</h3>
            </div>
        {% endif %}

        {% if 'test' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3>{{ no_test_selected }}</h3>
            </div>
        {% endif %}
    </div>

    <form name="create" action="/create_tests_submit" method="post" accept-charset="utf-8" onsubmit="return validateForm()">
        <div class="my-center">
            {% for file in vars['files'] %}
                <label>
                    <input class="checkbox checkbox-inline" type="checkbox" name="file{{ file.id }}" {% if file.id in vars['file_ids'] %} checked {% endif %} > {{ file.name }}
                </label>
                <input type="hidden" name="length_file{{ file.id }}" value="{{ vars['files_length'][file.id] }}">
                <input type="hidden" name="name_file{{ file.id }}" value="{{ file.name }}">
            {% endfor %}
        </div>
        <h2 class="my-center">{{ create_nist_test }}</h2>
        <div class="length-streams">
            <label>{{ length }}</label>
            <input class="form-control" placeholder="{{ length }}" type="number" name="length" min="1" {% if 'length' in vars['queries'] %} value="{{ vars['queries']['length'] }}" {% endif %} required>
            <label>{{ streams }}</label>
            <input class="form-control" placeholder="{{ streams }}" type="number" name="streams" min="1" {% if 'streams' in vars['queries'] %} value="{{ vars['queries']['streams'] }}" {% endif %}>
        </div>
        <table class="table tests-table">
            <tr>
                <th>{{ select }}</th>
                <th>{{ test }}</th>
                <th>{{ block_length }}</th>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="frequency" {% if 'frequency' in vars['queries'] %} checked {% endif %} >
                </td>
                <td colspan="2">
                    {{ frequency }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="block_frequency" {% if 'block_frequency' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ block_frequency }}
                </td>
                <td>
                    <input class="form-control" type="text" name="block_frequency_param" placeholder="{{ block_length_big }}" min="1" value="{{ vars['queries']['block_frequency_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="cumulative_sums" {% if 'cumulative_sums' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ cumulative_sums }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="runs" {% if 'runs' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ runs }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="longest_run_of_ones" {% if 'longest_run_of_ones' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ longest_run }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="rank" {% if 'rank' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ rank }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="discrete_fourier_transform" {% if 'discrete_fourier_transform' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ discrete_fourier }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="nonperiodic" {% if 'nonperiodic' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ nonperiodic }}
                </td>
                <td>
                    <div class="my-checkbox">
                        {% for i in range(2,22) %}
                            <label ><input class="checkbox" type="checkbox" name="nonperiodic{{ i }}" {% if i in vars['queries']['nonperiodic_param'] %} checked {% endif %}>{{ i }}</label>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="overlapping" {% if 'overlapping' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ overlapping }}
                </td>
                <td>
                    <input class="form-control" type="text" name="overlapping_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['overlapping_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="universal" {% if 'universal' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ universal }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="apen" {% if 'apen' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ approximate_entropy}}
                </td>
                <td>
                    <input class="form-control" type="text" name="apen_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['apen_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="excursion" {% if 'excursion' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ random_exc }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="excursion_var" {% if 'excursion_var' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ random_excs_var }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="serial" {% if 'serial' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ serial }}
                </td>
                <td>
                    <input class="form-control" type="text" name="serial_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['serial_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="linear" {% if 'linear' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ linear_complex }}
                </td>
                <td>
                    <input class="form-control" type="text" name="linear_param" placeholder="{{ block_length_big }}" min="1" value="{{ vars['queries']['linear_param'] }}">
                </td>
            </tr>
        </table>
        <div class="my-center">
            <input class="btn btn-success" type="submit" value="{{ create_tests }}">
        </div>
    </form>
    <FORM class="my-center">
      <INPUT class="btn btn-default" Type="button" VALUE="{{ back }}" onClick="history.go(-1);return true;">
    </FORM>
    <input type="hidden" name="test" value="{{ test }}">
    <input type="hidden" name="block_length_range_not_allowed" value="{{ param_error }}">
    <input type="hidden" name="length_range_not_allowed" value="{{ length_range }}">
    <input type="hidden" name="wrong_format" value="{{ wrong_format }}">
    <input type="hidden" name="no_test_selected" value="{{ no_test_selected }}">
    <input type="hidden" name="no_file_selected" value="{{ no_file_selected }}">
    <input type="hidden" name="length_error" value="{{ length_error }}">
    <input type="hidden" name="error_in" value="{{ error_in }}">
    <!-- Names of tests -->
    <input type="hidden" name="frequency_name" value="{{ frequency }}">
    <input type="hidden" name="block_frequency_name" value="{{ block_frequency }}">
    <input type="hidden" name="cumulative_sums_name" value="{{ cumulative_sums }}">
    <input type="hidden" name="runs_name" value="{{ runs }}">
    <input type="hidden" name="longest_run_name" value="{{ longest_run }}">
    <input type="hidden" name="rank_name" value="{{ rank }}">
    <input type="hidden" name="discrete_fourier_name" value="{{ discrete_fourier }}">
    <input type="hidden" name="nonperiodic_name" value="{{ nonperiodic }}">
    <input type="hidden" name="overlapping_name" value="{{ overlapping }}">
    <input type="hidden" name="universal_name" value="{{ universal }}">
    <input type="hidden" name="approximate_entropy_name" value="{{ approximate_entropy }}">
    <input type="hidden" name="random_exc_name" value="{{ random_exc }}">
    <input type="hidden" name="random_excs_var_name" value="{{ random_excs_var }}">
    <input type="hidden" name="serial_name" value="{{ serial }}">
    <input type="hidden" name="linear_complex_name" value="{{ linear_complex }}">
    <script src="create_tests.js"></script>
</body>
</html>