<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ create_tests }}</title>
</head>
<body>
    <form name="create" action="create_tests_submit" method="post" accept-charset="utf-8">
        {% for file in vars['files'] %}
            <input type="checkbox" name="file{{ file.id }}" {% if file.id in vars['file_ids'] %} checked {% endif %} > {{ file.name }}
        {% endfor %}

        <h2>{{ create_nist_test }}</h2>
        <table>
            <tr>
                <th>{{ select }}</th>
                <th>{{ test }}</th>
                <th>{{ length }}</th>
                <th>{{ streams }}</th>
                <th>{{ block_length }}</th>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="frequency" {% if 'frequency' in vars['queries'] %} checked {% endif %} >
                </td>
                <td>
                    {{ frequency }}
                </td>
                <td>
                    <input type="number" name="frequency_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['frequency_length'] }}" >
                </td>
                <td colspan="2">
                    <input type="number" name="frequency_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['frequency_streams'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="block_frequency" {% if 'block_frequency' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ block_frequency }}
                </td>
                <td>
                    <input type="number" name="block_frequency_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['block_frequency_length'] }}">
                </td>
                <td>
                    <input type="number" name="block_frequency_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['block_frequency_streams'] }}">
                </td>
                <td>
                    <input type="number" name="block_frequency_param" placeholder="{{ block_length_big }}" min="1" value="{{ vars['queries']['block_frequency_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="cumulative_sums" {% if 'cumulative_sums' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ cumulative_sums }}
                </td>
                <td>
                    <input type="number" name="cumulative_sums_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['cumulative_sums_length'] }}">
                </td>
                <td colspan="2">
                    <input type="number" name="cumulative_sums_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['cumulative_sums_streams'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="runs" {% if 'runs' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ runs }}
                </td>
                <td>
                    <input type="number" name="runs_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['runs_length'] }}">
                </td>
                <td colspan="2">
                    <input type="number" name="runs_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['runs_streams'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="longest_run_of_ones" {% if 'longest_run_of_ones' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ longest_run }}
                </td>
                <td>
                    <input type="number" name="longest_run_of_ones_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['longest_run_of_ones_length'] }}">
                </td>
                <td colspan="2">
                    <input type="number" name="longest_run_of_ones_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['longest_run_of_ones_streams'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="rank" {% if 'rank' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ rank }}
                </td>
                <td>
                    <input type="number" name="rank_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['rank_length'] }}">
                </td>
                <td colspan="2">
                    <input type="number" name="rank_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['rank_streams'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="discrete_fourier_transform" {% if 'discrete_fourier_transform' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ discrete_fourier }}
                </td>
                <td>
                    <input type="number" name="discrete_fourier_transform_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['discrete_fourier_transform_length'] }}">
                </td>
                <td colspan="2">
                    <input type="number" name="discrete_fourier_transform_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['discrete_fourier_transform_streams'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="nonperiodic" {% if 'nonperiodic' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ nonperiodic }}
                </td>
                <td>
                    <input type="number" name="nonperiodic_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['nonperiodic_length'] }}">
                </td>
                <td>
                    <input type="number" name="nonperiodic_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['nonperiodic_streams'] }}">
                </td>
                <td>
                    <input type="number" name="nonperiodic_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['nonperiodic_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="overlapping" {% if 'overlapping' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ overlapping }}
                </td>
                <td>
                    <input type="number" name="overlapping_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['overlapping_length'] }}">
                </td>
                <td>
                    <input type="number" name="overlapping_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['overlapping_streams'] }}">
                </td>
                <td>
                    <input type="number" name="overlapping_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['overlapping_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="universal" {% if 'universal' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ universal }}
                </td>
                <td>
                    <input type="number" name="universal_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['universal_length'] }}">
                </td>
                <td colspan="2">
                    <input type="number" name="universal_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['universal_streams'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="apen" {% if 'apen' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ approximate_entropy}}
                </td>
                <td>
                    <input type="number" name="apen_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['apen_length'] }}">
                </td>
                <td>
                    <input type="number" name="apen_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['apen_streams'] }}">
                </td>
                <td>
                    <input type="number" name="apen_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['apen_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="excursion" {% if 'excursion' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ random_exc }}
                </td>
                <td>
                    <input type="number" name="excursion_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['excursion_length'] }}">
                </td>
                <td colspan="2">
                    <input type="number" name="excursion_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['excursion_streams'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="excursion_var" {% if 'excursion_var' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ random_excs_var }}
                </td>
                <td>
                    <input type="number" name="excursion_var_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['excursion_var_length'] }}">
                </td>
                <td colspan="2">
                    <input type="number" name="excursion_var_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['excursion_var_streams'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="serial" {% if 'serial' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ serial }}
                </td>
                <td>
                    <input type="number" name="serial_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['serial_length'] }}">
                </td>
                <td>
                    <input type="number" name="serial_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['serial_streams'] }}">
                </td>
                <td>
                    <input type="number" name="serial_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['serial_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="linear" {% if 'linear' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ linear_complex }}
                </td>
                <td>
                    <input type="number" name="linear_length" placeholder="{{ length }}" min="1" value="{{ vars['queries']['linear_length'] }}">
                </td>
                <td>
                    <input type="number" name="linear_streams" placeholder="{{ streams }}" min="1" value="{{ vars['queries']['linear_streams'] }}">
                </td>
                <td>
                    <input type="number" name="linear_param" placeholder="{{ block_length_big }}" min="1" value="{{ vars['queries']['linear_param'] }}">
                </td>
            </tr>
        </table>
        <input type="submit" value="{{ create_test }}">
        {% if 'l' in vars['queries'] and 't' in vars['queries'] %}
            {% if vars['queries']['l'] is equalto '1' %}
                <h3>{{ error_in }} {{ vars['queries']['t'] }}. {{ test_little }}. {{ length_error }}</h3>
            {% endif %}
            {% if vars['queries']['l'] is equalto '2' %}
                <h3>{{ test }} {{ vars['queries']['t'] }}. {{ length_must_be_filled }}</h3>
            {% endif %}
        {% endif %}

        {% if 's' in vars['queries'] and 't' in vars['queries'] %}
            <h3>{{ error_in }} {{ vars['queries']['t'] }}. {{ test_little }}. {{ streams_error }}</h3>
        {% endif %}

        {% if 'p' in vars['queries'] and 't' in vars['queries'] %}
            <h3>{{ error_in }} {{ vars['queries']['t'] }}. {{ test_little }}. {{ param_error }}</h3>
        {% endif %}
        {% if 'f' in vars['queries'] %}
            <h3>{{ no_file_selected }}</h3>
        {% endif %}
        {% if 'test' in vars['queries'] %}
            <h3>{{ no_test_selected }}</h3>
        {% endif %}
    </form>
</body>
</html>