<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link href="styles.css" rel="stylesheet">
    <title>{{ create_tests }}</title>
</head>
<body>
    <div class="main-menu">
        <ul>
            <li>
                <a href="/">
                    {{ home }}
                </a>
            </li>
            <li>
                <a href="/create_tests">
                    {{ create_tests }}
                </a>
            </li>
            <li>
                <a href="/upload_file">
                    {{ upload_file }}
                </a>
            </li>
            <li>
                <a href="/currently_running">
                    {{ your_currently_running }}
                </a>
            </li>
            <li>
                <a href="/groups">
                    {{ groups_of_tests }}
                </a>
            </li>
        </ul>
    </div>
    <form class="logout" name="logout" action="/logout" method="post" accept-charset="utf-8">
        <input class="btn btn-danger" type="submit" value="{{ log_out }}">
    </form>
    <div class="my-warning">
        {% if 'format' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3> {{ error_in }} {{ vars['queries']['t'] }}. {{ test_little }}. {{ wrong_format }}</h3>
            </div>
        {% endif %}

        {% if 'l' in vars['queries'] and 't' in vars['queries'] %}
            {% if vars['queries']['l'] is equalto '1' %}
                <div class="alert alert-danger">
                    <h3>{{ length_error }}</h3>
                </div>
            {% endif %}

            {% if vars['queries']['l'] is equalto '2' %}
                <div class="alert alert-danger">
                    <h3>{{ test }} {{ vars['queries']['t'] }}. {{ length_must_be_filled }}</h3>
                </div>
            {% endif %}


            {% if vars['queries']['l'] is equalto '3' %}
                <div class="alert alert-danger">
                    <h3>{{ test }} {{ vars['queries']['t'] }}. {{ length_range }}</h3>
                </div>
            {% endif %}
        {% endif %}

        {% if 's' in vars['queries'] and 't' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3>{{ error_in }} {{ vars['queries']['t'] }}. {{ test_little }}. {{ streams_error }}</h3>
            </div>
        {% endif %}

        {% if 'p' in vars['queries'] and 't' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3>
                    {{ error_in }}
                    {% if vars['queries']['t'] == 2 %}
                        {{ block_frequency }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 8 %}
                        {{ nonperiodic }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 9 %}
                        {{ overlapping }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 11 %}
                        {{ approximate_entropy }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 14 %}
                        {{ serial }}.
                    {% endif %}
                    {% if vars['queries']['t'] == 15 %}
                        {{ linear_complex }}.
                    {% endif %} {{ param_error }}
                </h3>
            </div>
        {% endif %}

        {% if 'f' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3>{{ no_file_selected }}</h3>
            </div>
        {% endif %}

        {% if 'test' in vars['queries'] %}
            <div class="alert alert-danger">
                <h3>{{ no_test_selected }}</h3>
            </div>
        {% endif %}
    </div>

    <form name="create" action="create_tests_submit" method="post" accept-charset="utf-8" onsubmit="return validateForm()">
        <div class="my-center">
            {% for file in vars['files'] %}
                <label>
                    <input class="checkbox checkbox-inline" type="checkbox" name="file{{ file.id }}" {% if file.id in vars['file_ids'] %} checked {% endif %} > {{ file.name }}
                </label>
                <input type="hidden" name="length_file{{ file.id }}" value="{{ vars['files_length'][file.id] }}">
            {% endfor %}
        </div>
        <h2 class="my-center">{{ create_nist_test }}</h2>
        <div class="length-streams">
            <label>{{ length }}</label>
            <input class="form-control" placeholder="{{ length }}" type="number" name="length" min="1" {% if 'length' in vars['queries'] %} value="{{ vars['queries']['length'] }}" {% endif %} required>
            <label>{{ streams }}</label>
            <input class="form-control" placeholder="{{ streams }}" type="number" name="streams" min="1" {% if 'streams' in vars['queries'] %} value="{{ vars['queries']['streams'] }}" {% endif %}>
        </div>
        <table class="table tests-table">
            <tr>
                <th>{{ select }}</th>
                <th>{{ test }}</th>
                <th>{{ block_length }}</th>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="frequency" {% if 'frequency' in vars['queries'] %} checked {% endif %} >
                </td>
                <td colspan="2">
                    {{ frequency }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="block_frequency" {% if 'block_frequency' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ block_frequency }}
                </td>
                <td>
                    <input class="form-control" type="text" name="block_frequency_param" placeholder="{{ block_length_big }}" min="1" value="{{ vars['queries']['block_frequency_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="cumulative_sums" {% if 'cumulative_sums' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ cumulative_sums }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="runs" {% if 'runs' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ runs }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="longest_run_of_ones" {% if 'longest_run_of_ones' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ longest_run }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="rank" {% if 'rank' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ rank }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="discrete_fourier_transform" {% if 'discrete_fourier_transform' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ discrete_fourier }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="nonperiodic" {% if 'nonperiodic' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ nonperiodic }}
                </td>
                <td>
                    <div class="my-checkbox">
                        {% for i in range(2,22) %}
                            <label ><input class="checkbox" type="checkbox" name="nonperiodic{{ i }}" {% if i in vars['queries']['nonperiodic_param'] %} checked {% endif %}>{{ i }}</label>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="overlapping" {% if 'overlapping' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ overlapping }}
                </td>
                <td>
                    <input class="form-control" type="text" name="overlapping_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['overlapping_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="universal" {% if 'universal' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ universal }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="apen" {% if 'apen' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ approximate_entropy}}
                </td>
                <td>
                    <input class="form-control" type="text" name="apen_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['apen_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="excursion" {% if 'excursion' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ random_exc }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="excursion_var" {% if 'excursion_var' in vars['queries'] %} checked {% endif %}>
                </td>
                <td colspan="2">
                    {{ random_excs_var }}
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="serial" {% if 'serial' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ serial }}
                </td>
                <td>
                    <input class="form-control" type="text" name="serial_param" placeholder="{{ block_length_little }}" min="1" value="{{ vars['queries']['serial_param'] }}">
                </td>
            </tr>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" name="linear" {% if 'linear' in vars['queries'] %} checked {% endif %}>
                </td>
                <td>
                    {{ linear_complex }}
                </td>
                <td>
                    <input class="form-control" type="text" name="linear_param" placeholder="{{ block_length_big }}" min="1" value="{{ vars['queries']['linear_param'] }}">
                </td>
            </tr>
        </table>
        <div class="my-center">
            <input class="btn btn-success" type="submit" value="{{ create_tests }}">
        </div>
    </form>
    <FORM class="my-center">
      <INPUT class="btn btn-default" Type="button" VALUE="{{ back }}" onClick="history.go(-1);return true;">
    </FORM>
    <script src="create_tests.js"></script>
</body>
</html>