<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link href="styles.css" rel="stylesheet">
    <title>{{ currently_running }}</title>
</head>
<body>
  <h2>{{ your_currently_running }}</h2>
  <table>
        <tr>
            <th>{{ test }} {{ id }}</th>
            <th>{{ test_type }}</th>
            <th>{{ file }}</th>
            <th>{{ time_of_add }}</th>
        </tr>
        {% for test in vars['tests'] %}
            <tr>
                <td>{{ test.id }}</td>
                <td>{{ test.test_table }}</td>
                <td>{{ vars['files'][test.file_id].name }}</td>
                <td>{{ test.time_of_add }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>