<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link href="styles.css" rel="stylesheet">
    <title>{{ delete_fs_path }}</title>
</head>
<body>
  <h2>{{ delete_fs_path_question }}</h2>
  <form name="delete_fs_path" action="/delete_fs_path_submit" method="post" accept-charset="utf-8">
    <input type="submit" value="{{ yes }}">
    <input type="hidden" name="file_id" value="{{ vars['file_id'] }}">
  </form>
  <input type="button" value="{{ no }}" onclick="window.location = '/';">
</body>
</html>