<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include_head.html' %}
    <title>{{ delete_fs_path }}</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="my-center">
        <h2>{{ delete_fs_path_question }}</h2>
        <div class="btn-group">
            <form name="delete_fs_path" action="/delete_fs_path_submit" method="post" accept-charset="utf-8">
                <input class="btn btn-success" type="submit" value="{{ yes }}">
                <input type="hidden" name="file_id" value="{{ vars['file_id'] }}">
                <input class="btn btn-default" type="button" value="{{ no }}" onclick="window.location = '/';">
            </form>
        </div>
    </div>
</body>
</html>