<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link href="styles.css" rel="stylesheet">
    <title>{{ error }}</title>
</head>
<body>
  <h1>{{ title }}:</h1>
  <br>
  <h2>{{ error_occurred_during_request }}</h2>
  <h4>
      {{ return_back_to }}
      <a href="/"> {{ main_page }} </a>
  </h4>
</body>
</html>