<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link href="styles.css" rel="stylesheet">
    <title>{{ groups_of_tests }}</title>

    <script type="text/javascript">
        function RedirectAndLoadComputeStats(grp_id) {
            var button = document.getElementById('placeLoading');
            var btnChild = document.createElement('div');
            btnChild.setAttribute('class', 'loader my-center');
            button.appendChild(btnChild);
            location.href='/compute_stats?id='.concat(grp_id);
        }
    </script>

</head>
<body>
    <div class="main-menu">
        <ul>
            <li>
                <a href="/">
                    {{ home }}
                </a>
            </li>
            <li>
                <a href="/create_tests">
                    {{ create_tests }}
                </a>
            </li>
            <li>
                <a href="/upload_file">
                    {{ upload_file }}
                </a>
            </li>
            <li>
                <a href="/currently_running">
                    {{ your_currently_running }}
                </a>
            </li>
            <li>
                <a href="/groups">
                    {{ groups_of_tests }}
                </a>
            </li>
        </ul>
    </div>
    <form class="logout" name="logout" action="/logout" method="post" accept-charset="utf-8">
        <input class="btn btn-danger" type="submit" value="{{ log_out }}">
    </form>
    <div class="my-center">
        <h2>{{ select_tests_to_download }}</h2>
    </div>

    <div id="placeLoading">
    </div>

    <form name="download" action="/download" method="post" accept-charset="utf-8">
        <table class="table tests-table">
            <tr>
                <th>{{ select }}</th>
                <th>{{ id }}</th>
                <th>{{ time_of_add }}</th>
                <th>{{ num_of_tests_in_group }}</th>
                <th>{{ compute_view_results }}</th>
            </tr>
            {% for group in vars['groups'] %}
                <tr>
                    <td><input class="checkbox" type="checkbox" name="group{{ group.id }}"></td>
                    <td>{{ group.id }}</td>
                    <td>{{ group.time_of_add }}</td>
                    {% if group.get_num_of_tests() == None %}
                    <td>{{ no_tests_in_group }}</td>
                    {% else %}
                    <td>{{ group.get_num_of_tests() }}</td>
                    {% endif %}
                    <td>
                        <input type="button"
                               {% if group.total_tests != group.finished_tests %}
                                class="btn btn-default" value="{{ compute_statistics }}"
                                disabled
                                title="{{ cannot_view_until_finish }}"
                               {% elif group.stats is equalto 0 %}
                                class="btn btn-default" value="{{ compute_statistics }}"
                                onclick="RedirectAndLoadComputeStats({{ group.id }})"
                               {% else %}
                                class="btn btn-success" value="{{ download_report }}"
                                onclick="location.href='grp_results?id={{ group.id }}';"
                               {% endif %}>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="my-center">
            <input class="btn btn-success" type="submit" name="download" value="{{ download }}" id="submit_button">
        </div>
    </form>
</body>
</html>