<div class="main-menu">
    <ul>
        <li>
            <a href="/">
                {{ home }}
            </a>
        </li>
        <li>
            <a href="/create_tests">
                {{ create_tests }}
            </a>
        </li>
        <li>
            <a href="/upload_file">
                {{ upload_file }}
            </a>
        </li>
        <li>
            <a href="/currently_running">
                {{ your_currently_running }}
            </a>
        </li>
        <li>
            <a href="/groups">
                {{ groups_of_tests }}
            </a>
        </li>
        <li>
            <a href="#files">
                {{ your_files }}
            </a>
        </li>
    </ul>
</div>
<form class="logout" name="logout" action="/logout" method="post" accept-charset="utf-8">
    <input class="btn btn-danger" type="submit" value="{{ log_out }}">
</form>