<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <form name="login" action="login_submit" method="post" accept-charset="utf-8">
        <table>
            <tr>
                <td>
                    <label for="username">{{ user_name }}</label>
                </td>
                <td>
                    <input type="text" name="username" placeholder="{{ user_name }}" maxlength="32" autofocus="autofocus" required>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">{{ password }}</label>
                </td>
                <td>
                    <input type="password" name="password" placeholder="{{ password }}" required>
                </td>
            </tr>
        </table>
        <input type="submit" value="{{ login }}">
    </form>
    <a href="sign_up">{{ register_new_user }}</a>
    <br/>
    {% if vars['wrong_user'] is equalto 1 %}
      <h3>{{ user_doesnt_exists }}</h3>
    {% endif %}

    {% if vars['wrong_password'] is equalto 1 %}
      <h3>{{ wrong_password }}</h3>
    {% endif %}
</body>
</html>