<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css">
    <link href="styles.css" rel="stylesheet">
    <title>{{ main_page }}</title>
</head>
<body>
    <div class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        {{ home }}
                    </a>
                </li>
                <li>
                    <a href="/create_tests">
                        {{ create_tests }}
                    </a>
                </li>
                <li>
                    <a href="/upload_file">
                        {{ upload_file }}
                    </a>
                </li>
                <li>
                    <a href="/currently_running">
                        {{ your_currently_running }}
                    </a>
                </li>
            </ul>
        </div>
        <form class="logout" name="logout" action="/logout" method="post" accept-charset="utf-8">
            <input class="btn btn-danger" type="submit" value="{{ log_out }}">
        </form>
    <div class="my-center">
        <h2>{{ your_tests }}:</h2>
    </div>
    <br>
    <table class="table tests-table">
        <tr>
            <th>{{ test }} {{ id }}</th>
            <th>{{ test_type }}</th>
            <th>{{ file }}</th>
            <th>{{ time_of_add }}</th>
            <th>{{ loaded }}</th>
            <th>{{ finished }}</th>
            <th>{{ more }}</th>
            <th>{{ delete }}</th>
        </tr>
        {% for test in vars['tests'] %}
            <tr>
                <td>{{ test.id }}</td>
                <td>{{ test.test_table }}</td>
                <td>{{ vars['files'][test.file_id].name }}</td>
                <td>{{ test.time_of_add }}</td>

                <td>
                    {% if test.loaded is equalto 0 %}
                      &#10005;
                    {% else %}
                      &#10003;
                    {% endif %}
                </td>

                <td>
                    {% if test.ended is equalto 0 %}
                      &#10005;
                    {% else %}
                      &#10003;
                    {% endif %}
                </td>

                <td>
                    <a href="/test?id={{ test.id }}">info</a>
                </td>

                <td>
                    {% if test.ended is equalto 1 %}
                      <a href="/delete_test?id={{ test.id }}">
                    {% endif %}
                    &#10005;
                    {% if test.ended is equalto 1 %}
                      </a>
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div class="my-center">
        <h2>{{ your_files }}:</h2>
    </div>
    <br>
    <table class="table files-table">
        <tr>
            <th>{{ file_name }}</th>
            <th>{{ hash }}</th>
            <th>{{ delete_data }}</th>
            <th>{{ delete_record }}</th>
        </tr>
        {% for file in vars['files'].values() %}
            <tr>
                <td>{{ file.name }}</td>
                <td {% if file.file_system_path is none %} colspan="2" {% endif %}>{{ file.hash }}</td>
                {% if file.file_system_path is not none %}
                    <td>
                        <a href="/delete_path?id={{ file.id }}">
                            &#10005;
                        </a>
                    </td>
                {% endif %}
                <td>
                    <a href="/delete_file?id={{ file.id }}">
                        &#10005;
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>