<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ main_page }}</title>
</head>
<body>
    <form name="logout" action="logout" method="post" accept-charset="utf-8">
        <input type="submit" value="{{ log_out }}">
    </form>
    <a href="create_tests">
        <h2> {{ create_tests }}</h2>
    </a>
    <a href="upload_file">
        <h2>{{ upload_file }}</h2>
    </a>
    <h2>{{ your_tests }}:</h2>
    <br>
    <table>
        <tr>
            <th>{{ test }} {{ id }}</th>
            <th>{{ test_type }}</th>
            <th>{{ file }}</th>
            <th>{{ time_of_add }}</th>
            <th>{{ loaded }}</th>
            <th>{{ finished }}</th>
            <th>{{ more }}</th>
        </tr>
        {% for test in vars['tests'] %}
            <tr>
                <td>{{ test.id }}</td>
                <td>{{ test.test_table }}</td>
                <td>{{ vars['files'][test.file_id].name }}</td>
                <td>{{ test.time_of_add }}</td>

                <td>
                    {% if test.loaded is equalto 0 %}
                      &#10005;
                    {% else %}
                      &#10003;
                    {% endif %}
                </td>

                <td>
                    {% if test.ended is equalto 0 %}
                      &#10005;
                    {% else %}
                      &#10003;
                    {% endif %}
                </td>

                <td>
                    <a href="/test?id={{ test.id }}">info</a>
                </td>

            </tr>
        {% endfor %}
    </table>
    <br>
    <h2>{{ your_files }}:</h2>
    <br>
    <table>
        <tr>
            <th>{{ file_name }}</th>
            <th>{{ hash }}</th>
        </tr>
        {% for file in vars['files'].values() %}
            <tr>
                <th>{{ file.name }}</th>
                <th>{{ file.hash }}</th>
            </tr>
        {% endfor %}
    </table>
</body>
</html>