<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include_head.html' %}
    <title>{{ register_new_user }}</title>
</head>
<body>
  <div class="container">
    <form class="form-signin" name="signup" action="sign_up_submit" method="post" accept-charset="utf-8">
      <h2>{{ sign_up }}</h2>
      <label class="sr-only" for="username">{{ user_name }}</label>
      <input class="form-control" type="text" name="username" placeholder="{{ user_name }}" maxlength="64" required>
      <label class="sr-only" for="password">{{ password }}</label>
      <input class="form-control" type="password" name="password" placeholder="{{ password }}" required>
      <label class="sr-only" for="retype_password">{{ retype_password }}</label>
      <input class="form-control" type="password" name="retype_password" placeholder="{{ retype_password }}" required>
      <input class="btn btn-primary btn-block login-button" type="submit" value="{{ sign_up }}">
    </form>

    <br/>
    <div class="my-center">
      {% if vars['user_already_exists'] is equalto 1 %}
        <h3>{{ user_already_exists }}</h3>
      {% endif %}

      {% if vars['passwords_are_not_same'] is equalto 1 %}
        <h3>{{ passwords_are_not_same }}</h3>
      {% endif %}
    </div>
  </div>
</body>
</html>